.accordion {
  margin: 20px 0 0;

  @media (min-width: 768px) {
    margin: 80px 0 0;
  }
}

.accordion-item {
  padding: 0;
  background: $color-secondary-500;
  border-bottom: 2px solid $color-secondary-400;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: none;
  border-bottom: 1px solid $color-secondary-400;
}

.accordion-button {
  padding: 24px 39px;
  background-color: $color-gray;
}

.accordion-button:not(.collapsed) {
  color: $color-primary-300;
  border: none;
  box-shadow: none;
}

.accordion-button:focus {
  background: transparent;
  border: none;
  box-shadow: none;
}

.accordion-button::after {
  content: "";
  width: 11px;
  height: 11px;
  background: url("../img/plus.svg") center/cover no-repeat;
}

.accordion-button:not(.collapsed)::after {
  content: "";
  width: 11px;
  height: 2px;
  background: url("../img/minus.svg") center/cover no-repeat;
}

.accordion-body {
  padding: 0 39px 24px;
  font-size: 13px;
  line-height: 19px;
  color: $color-primary-100;
  background: $color-secondary-500;
}
