.form-select {
  flex: 1 0 100%;
  border-radius: 15px;

  @media (min-width: 576px) {
    flex-basis: 170px;
  }
}

.form-select:valid {
  border-color: $color-secondary-700;
}

.form-check-input.is-invalid,
.was-validated,
.form-check-input:invalid {
  border-color: #ced4da;
}

.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: #ced4da;
}

.form-select.is-invalid,
.was-validated .form-select:invalid {
  border-color: #ced4da;
  padding-right: 4.125rem;
}

.form-select.is-valid,
.was-validated .form-select:valid {
  border-color: #198754;
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
  border-color: $color-secondary-200;
}

.form-check-input.is-invalid:focus,
.was-validated .form-check-input:invalid:focus {
  box-shadow: none;
}

.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: none;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: $color-primary-300;
  border-color: $color-primary-300;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked + .form-check-label {
  color: $color-primary-300;
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: $color-secondary-400;
}

.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: $color-secondary-400;
}

.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
  border-color: #198754;
  box-shadow: none;
}
