.offers {
  padding: 68px 0 90px;

  @media (min-width: 768px) {
    padding: 98px 0 120px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__actions {
    margin-top: 80px;
  }

  &__btn {
    flex: 1 1 290px;
    margin: 0 auto;
    padding: 14px;
    color: $color-primary-200;
    background: $color-primary-300;
    border: 2px solid $color-primary-300;
    border-radius: 15px;
    outline: none;
    transition: background-color $transition-duration;

    &:hover,
    &:focus {
      color: $color-primary-300;
      background-color: transparent;
    }

    &:active {
      color: $color-primary-200;
      background: $color-primary-300;
    }

    @media (min-width: 576px) {
      max-width: 290px;
      margin: auto;
    }
  }

  &__available {
    color: inherit;
  }

  &__down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: inherit;
  }

  &__sort {
    color: $color-secondary-400;
  }

  &__sort-btn {
    width: 10px;
    height: 13px;
    margin: 0 13px 0 17px;
    border: none;
    background-color: transparent;
    background: url('../img/sort.svg') center/cover no-repeat;
    outline: none;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 295px);
    justify-content: center;
    gap: 20px;
  }
}
