@font-face {
  font-family: Poppins;
  src: url("../poppins-bold.58f7b8da.woff2") format("woff2"), url("../poppins-bold.58f7b8da.woff2") format("woff"), url("../poppins-bold.960dd2a6.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-bold.9cfd4aaa.woff2") format("woff2"), url("../notosans-bold.6b4a0778.woff") format("woff"), url("../notosans-bold.e4d5ee99.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-semibold.0db6bbac.woff2") format("woff2"), url("../notosans-semibold.2718363d.woff") format("woff"), url("../NotoSans-SemiBold.c8d4578f.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-medium.9bac5074.woff2") format("woff2"), url("../notosans-medium.45a1352d.woff") format("woff"), url("../NotoSans-Medium.0729620b.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-regular.bbcfd15e.woff2") format("woff2"), url("../notosans-regular.05b77dc2.woff") format("woff"), url("../NotoSans-Regular.acda5781.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-light.c5d95db0.woff2") format("woff2"), url("../notosans-light.f4f78671.woff") format("woff"), url("../NotoSans-Light.a93c853e.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  display: swap;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.head {
  justify-content: space-between;
  align-items: center;
}
.button {
  display: block;
  width: 240px;
  padding: 13px 16px 16px;
  background: transparent;
  border: 2px solid #f8f8f8;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #f8f8f8;
  transition: background 0.4s;
}
.button:hover {
  background: #f8f8f8;
  color: #000;
}
.button:active {
  background: #000;
  color: #f8f8f8;
}
.disabled {
  /* stylelint-disable-line */
  border: 2px solid rgba(248, 248, 248, 0.5);
}
.logo {
  display: block;
  width: 163px;
  height: 35px;
}
.logo--size--big {
  width: 215px;
  height: 48px;
}
.logo__img {
  width: 100%;
}
.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.nav--jc-center {
  justify-content: center;
}
.menu {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.menu__link {
  display: block;
  padding: 5px 10px;
  font-weight: 500;
  color: #f8f8f8;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #df4e3c;
}
.socials {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}
.header {
  min-height: 100vh;
  padding: 19px 0;
  background: url("../header.c5bedf82.jpg") center/cover no-repeat;
}
.header__bottom {
  display: flex;
  align-items: center;
  height: 80vh;
}
.header__title {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
}
.header__descr {
  margin: 32px 0 0;
}
.header__button {
  margin-top: 85px;
}
.offers {
  padding: 98px 120px;
}
.footer {
  padding: 37px 36px;
  background-color: #000;
}
/*# sourceMappingURL=index.4ba3a86f.css.map */
