@font-face {
  font-family: "Poppins";
  src: url("../poppins-bold.58f7b8da.woff2") format("woff2"), url("../poppins-bold.58f7b8da.woff2") format("woff"), url("../poppins-bold.960dd2a6.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-bold.9cfd4aaa.woff2") format("woff2"), url("../notosans-bold.6b4a0778.woff") format("woff"), url("../notosans-bold.e4d5ee99.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-semibold.0db6bbac.woff2") format("woff2"), url("../notosans-semibold.2718363d.woff") format("woff"), url("../NotoSans-SemiBold.c8d4578f.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-medium.9bac5074.woff2") format("woff2"), url("../notosans-medium.45a1352d.woff") format("woff"), url("../NotoSans-Medium.0729620b.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-regular.bbcfd15e.woff2") format("woff2"), url("../notosans-regular.05b77dc2.woff") format("woff"), url("../NotoSans-Regular.acda5781.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-light.c5d95db0.woff2") format("woff2"), url("../notosans-light.f4f78671.woff") format("woff"), url("../NotoSans-Light.a93c853e.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../poppins-bold.58f7b8da.woff2") format("woff2"), url("../poppins-bold.58f7b8da.woff2") format("woff"), url("../poppins-bold.960dd2a6.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-bold.9cfd4aaa.woff2") format("woff2"), url("../notosans-bold.6b4a0778.woff") format("woff"), url("../notosans-bold.e4d5ee99.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-semibold.0db6bbac.woff2") format("woff2"), url("../notosans-semibold.2718363d.woff") format("woff"), url("../NotoSans-SemiBold.c8d4578f.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-medium.9bac5074.woff2") format("woff2"), url("../notosans-medium.45a1352d.woff") format("woff"), url("../NotoSans-Medium.0729620b.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-regular.bbcfd15e.woff2") format("woff2"), url("../notosans-regular.05b77dc2.woff") format("woff"), url("../NotoSans-Regular.acda5781.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../notosans-light.c5d95db0.woff2") format("woff2"), url("../notosans-light.f4f78671.woff") format("woff"), url("../NotoSans-Light.a93c853e.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  display: swap;
}
/*# sourceMappingURL=index.a7c270b5.css.map */
