@font-face {
  font-family: Poppins;
  src:
    url("../fonts/poppins-bold.woff2") format("woff2"),
    url("../fonts/poppins-bold.woff2") format("woff"),
    url("../fonts/poppins-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("../fonts/notosans-bold.woff2") format("woff2"),
    url("../fonts/notosans-bold.woff") format("woff"),
    url("../fonts/notosans-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("../fonts/notosans-semibold.woff2") format("woff2"),
    url("../fonts/notosans-semibold.woff") format("woff"),
    url("../fonts/NotoSans-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("../fonts/notosans-medium.woff2") format("woff2"),
    url("../fonts/notosans-medium.woff") format("woff"),
    url("../fonts/NotoSans-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("../fonts/notosans-regular.woff2") format("woff2"),
    url("../fonts/notosans-regular.woff") format("woff"),
    url("../fonts/NotoSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("../fonts/notosans-light.woff2") format("woff2"),
    url("../fonts/notosans-light.woff") format("woff"),
    url("../fonts/NotoSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  display: swap;
}
